{% extends 'core/base.html' %}

{% block content %}
<div class="ui main container" style="margin-top:6em;margin-bottom:6em">
  <h1 class="ui header ui form" style="margin-bottom:1em">
    <div class="fields">
      <div class="thirteen wide field">
        Bagging
      </div>

      <div class="three wide field">
        <button id="confirm-bag-awbs" class="ui button green right floated">Confirm Bag</button>
      </div>

    </div>

  </h1>

  <form class="ui form" id="submit-bag-form">
    <div class="fields">
      <div class="six wide field">
        <input class="bag-text" type="text" name="bag_id" placeholder="BAG_ID">
      </div>
      <div class="two wide field">
        <button class="ui button blue" type="submit"><i class="shopping basket icon"></i> Submit</button>
        <!-- <input class="ui button blue" type="submit" value="Submit BAG"> -->
      </div>
    </div>
  </form>
 
  <form class="ui form" id="submit-awb-form">
    <div class="fields">
      <div class="six wide field">
        <input class="awb-text" type="text" name="awb" placeholder="AWB">
      </div>
      <div class="two wide field">
        <!-- <input class="ui button blue" type="submit" value="Submit awb"> -->
        <button class="ui button blue" type="submit"><i class="tag icon"></i> Submit</button>
      </div>
    </div>
  </form>

  <table id="arrival-table" class="ui celled table">
    <thead>
      <tr>
        <th>AWB</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>DUMMYAWB</td>
        <td>AF - Inbound</td>
        <td><div class="mini ui blue button" data-action="update">Update Status</div></td>
      </tr> -->
    </tbody>
  </table>

</div>

<div id="modal-container"></div>

<script type="text/template" id="error-msg-template">
  <span class="error-msg" style="color:#E0B4B4; font-size:12px; font-style:italic;">Field required</span>
</script>

<script type="text/template" id="confirmation-modal-template">
  <div class="ui small modal" id="confirmation-modal">
    <i class="close icon"></i>
    <div class="header">Bag Confirmation</div>
    <div class="content confirmation-content">
      Please make sure you already done scanning.
    </div>
    <div class="actions">
      <div class="ui negative deny button cancel">Cancel</div>
      <div class="ui positive button done">Done</div>
    </div>
  </div>
</script>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
  var collections = [];
  var error_msg = [];
  var marker = 0;
  var value = '<div class="mini ui blue button" data-action="update">Update Status</div>';
  $(document).ready(function() {
    
    $('#arrival-table').DataTable({
      searching: false,
      bLengthChange: false,
      bInfo: false,
    });

    $('.bag-text').focus(); 

  });

  // var value = '<div class="mini ui blue button" data-action="update">Update Status</div><div class="mini ui red button" data-action="delete">Delete</div>';

</script>

<script type="text/javascript">
  $('#submit-bag-form').submit(function() {
    
    resetErrorView();
    
    var data = $('#submit-bag-form').serializeObject();
    data.csrfmiddlewaretoken = Cookies.get('csrftoken');
    console.log(data.bag_id);
    if (data.bag === '') {
      error_msg['bag'] = true;
      setErrorView(error_msg);
      console.log('empty bag value');
      return false;
    }

    marker++;

    if (collections.length !== 0) {
      marker = 1;
    }

    if (marker !== 1 && data.bag !== '') {
      error_msg['bag'] = true;
      setErrorView(error_msg);
      $('.bag-text').next().html('You cant skip bag without filling the bag.');
      console.log('You cant skip bag without filling the bag.');
      return false; 
    }

    if (marker === 0) {
      resetTable();
    }

    return false;
  });

</script>

<script type="text/javascript">
  $('#submit-awb-form').submit(function() {
    resetErrorView();
    
    marker = 1;
    var data = $('#submit-awb-form').serializeObject();
    if (data.awb === '') {
      error_msg['awb'] = true;
      setErrorView(error_msg);
      console.log('empty awb value');
      return false;
    }

    data.csrfmiddlewaretoken = Cookies.get('csrftoken');

    console.log('been submitted');
    
    var t = $('#arrival-table').DataTable();

    t.row.add( [
      $('.awb-text').val(),
      'AF - Arrival Sorter',
      value,
    ] ).draw( true );
    
    // adding to new Collection
    collections.push($('.awb-text').val());

    $('.awb-text').val('');
    $('.awb-text').focus(); 

    console.log('submit-awb-form', data);

    return false;
  });
</script>

<script type="text/javascript">
  $('#confirm-bag-awbs').click(function() {
    resetErrorView();
    marker = -1;
    if (collections.length === 0 && $('.bag-text').val() === '') {
      console.log('Nothing to add.');
      error_msg['all'] = true;
      setErrorView(error_msg);
      return false;
    }

    if ($('.bag-text').val() === '') {
      error_msg['bag'] = true;
      setErrorView(error_msg);
      return false;
    }

    if (collections.length === 0) {
      error_msg['bag'] = true;
      setErrorView(error_msg);
      return false;
    }

    //collections.push($('.bag-text').val());
    console.log('data to send --> ', collections);
    console.log('bag to send --> ', $('.bag-text').val())
    
    $.ajax({
      url: "{% url 'api-bagging' %}", 
      method: "POST",
      traditional:true,
      dataType: 'json',
      data: {
        awb_list: collections,
        user_id: {{user_id}},
        bag_number: $('.bag-text').val()
      },

    }).done(function(response) {
      collections = [];
        resetTable();
    });

    return false;
  });
</script>

<!-- Form Script Notifiers -->
<script type="text/javascript">

  var err_template = $('#error-msg-template').html();

  function setErrorView(error) {
    if (error.all) {
      $('.bag-text').parent().addClass('error');
      $('.bag-text').parent().append(err_template);
      $('.awb-text').parent().addClass('error');
      $('.awb-text').parent().append(err_template);
      return;
    }

    if (error.bag) {
      $('.bag-text').parent().addClass('error');
      $('.bag-text').parent().append(err_template);
    }

    if (error.awb) {
      $('.awb-text').parent().addClass('error');
      $('.awb-text').parent().append(err_template);
    }

  }

  function resetErrorView() {
    $('.bag-text').parent().removeClass('error');
    $('.awb-text').parent().removeClass('error');
    $('.error-msg').remove();
  }

  function resetTable() {
    marker = 0;
    collections = [];

    $('#arrival-table').DataTable().clear();
    $('#arrival-table').hide();
    $('#arrival-table').DataTable().destroy();
    
    $('#arrival-table').DataTable({
      searching: false,
      bLengthChange: false,
      bInfo: false,
    });
    $('#arrival-table').show();

    $('.awb-text').val('');
    $('.bag-text').val('');
    $('.bag-text').focus();
  }

  var modal_template = $('#confirmation-modal-template').html();
  
  /*function confirmationModal() {
    
    $('#modal-container').empty();
    $('#modal-container').html(modal_template);
    $('#confirmation-modal').modal('show');
    
    resetTable();
    
    
  }*/

</script>

{% endblock %}
