{% extends 'core/base.html' %}

{% block content %}
<div class="ui main container" style="margin-top:6em;margin-bottom:6em">
  <h1 class="ui header" style="margin-bottom:1em">Manifest List</h1>

  <table id="report" class="ui celled table">
    <thead>
      <tr>
        <th>Petugas</th>  
        <th>Origin</th>
        <th>Destination</th>
        <th>Transportation</th>
        <th>Jumlah Bag</th>
        <th>Jumlah Item</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block javascript %}
<script>
  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };

  // render table
  $('#report').DataTable({
    searching: false,
    bLengthChange: false,
    bInfo: false,
    {# serverSide: true, #}
    ajax: {
        url: "{% url 'api-manifesting-list' %}",
      type: 'GET'
    },
    columns: [
      { data: 'employee', className: 'dt-left' },
      { data: 'origin_site', className: 'dt-left' },
      { data: 'destination_site', className: 'dt-left' },
      { data: 'transportation', className: 'dt-left' },
      { data: 'bagamount', className: 'dt-left' },
      { data: 'itemamount', className: 'dt-left' },
      { data: 'action', className: 'dt-left' },  
    ],
    
    columnDefs: [
      {
        targets: -1,
        render: function(data, type, row, meta) {
          return ''
            + "<form target='_blank' method='post' action='/core/management/manifestinglist/print/" + row.shipment_id + "/'>"
            {# + '"' + {% csrf_token %} + '"' #}
            + "  <input type='hidden' name='csrfmiddlewaretoken' value='" + Cookies.get('csrftoken')+ "'>" 
            + "  <input type='hidden' name='pk' value='" + row.action + "'>" 
            + "  <button class='mini ui primary button print-btn'>Print</button>"
            + "</form>";
        }
      }
    ]
});

//$.ajax(
//url: '{% url "api-manifesting-list" %}',
//type: 'GET'
//).done(function(response) {
//    console.log(response, 'hhh');
//})
{# $('#report tbody').click('button', function(e) { #}
{#   console.log('print'); #}
{#   console.log($(e.target).data('pk')); #}
{#   var form = $(e.target); #}
{#   form.submit(); #}
{# }); #}

</script>
{% endblock %}
