{% extends 'core/base.html' %}

{% block content %}
<div class="ui main container" style="margin-top:6em;margin-bottom:6em">
  <h1 class="ui header" style="margin-bottom:1em">Pick Up</h1>

  <table id="report" class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Address</th>
        <th>City</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for agent in data %}
        <tr>
            <td>{{ agent.dataagent.name }}</td>
            <td>{{ agent.dataagent.type }}</td>
            <td>{{ agent.dataagent.address }}</td>
            <td>{{ agent.dataagent.city }}</td>
            <td>{{ agent.amount }}</td>
            <td><div class="mini ui blue button" data-action="print">Print</div></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<div id="modal-container"></div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('#report').DataTable({
    searching: false,
    bLengthChange: false,
    bInfo: false,
    {# serverSide: true, #}
    /*ajax: {
      url: "{% url 'api-pickup-read' %}",
      type: 'GET'
    },
    columns: [
      {data: 'name', className: 'dt-left'},
      {data: 'type', className: 'dt-left'},
      {data: 'address', className: 'dt-left'},
      {data: 'city', className: 'dt-left'},
      {data: 'amount', className: 'dt-left'},
    ],
    columnDefs: [
      {
        targets: -1,  
        render: function(data, type, row, meta) {
          return ''
            + '<div class="mini ui blue button" data-action="print" data-pk=' + row.action + ' data-name="' + row.name + '" data-type="' + row.type + '" data-address="' + row.address + '"data-city="' + row.city + '"data-amount="' + row.amount + '">Print</div>';
        }
      }
    ]*/
  });

</script>
{% endblock %}
