{% extends 'core/base.html' %}

{% block content %}
<div class="ui main container" style="margin-top:6em;margin-bottom:6em">
  <h1 class="ui header" style="margin-bottom:1em">Tariff Management</h1>

  <div class="ui small primary button" id="create-tariff-modal-btn">Create Tariff</div>

  <table id="report" class="ui celled table">
    <thead>
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Service</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
</div>

<div id="modal-container"></div>

<script type="text/template" id="create-tariff-modal-template">
  <div class="ui small modal" id="create-tariff-modal">
    <i class="close icon"></i>
    <div class="header">Create Tariff</div>
    <div class="content">
      <form class="ui form" id="create-tariff-form">
        <div class="field">
          <label>Origin</label>
          <select class="ui fluid dropdown" name="origin">
            <option value="">Choose origin city</option>
            {% for city in cities %}
              <option value="{{ city.pk }}">{{ city.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Destination</label>
          <select class="ui fluid dropdown" name="destination">
            <option value="">Choose destination city</option>
            {% for city in cities %}
              <option value="{{ city.pk }}">{{ city.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Service</label>
          <select class="ui fluid dropdown" name="service">
            <option value="">Choose service</option>
            {% for service in services %}
              <option value="{{ service.pk }}">{{ service.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Price</label>
          <input type="text" name="price">
        </div>
        <div class="field">
          <label>Duration</label>
          <input type="text" name="duration">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui green button" id="create-tariff-button">Create</div>
    </div>
  </div>
</script>

<script type="text/template" id="update-tariff-modal-template">
  <div class="ui small modal" id="update-tariff-modal">
    <i class="close icon"></i>
    <div class="header">Update Tariff</div>
    <div class="content">
      <form class="ui form" id="update-tariff-form">
        <input type="hidden" name="pk" value="<%= pk %>">
        <div class="field">
          <label>Origin</label>
          <select class="ui fluid dropdown" name="origin">
            <option value="">Choose origin city</option>
            {% for city in cities %}
              <option value="{{ city.pk }}" <% if (origin_pk === {{ city.pk }}) { %>selected<% } %>>{{ city.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Destination</label>
          <select class="ui fluid dropdown" name="destination">
            <option value="">Choose destination city</option>
            {% for city in cities %}
              <option value="{{ city.pk }}" <% if (destination_pk === {{ city.pk }}) { %>selected<% } %>>{{ city.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Service</label>
          <select class="ui fluid dropdown" name="service">
            <option value="">Choose service</option>
            {% for service in services %}
              <option value="{{ service.pk }}" <% if (service_pk === {{ service.pk }}) { %>selected<% } %>>{{ service.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Price</label>
          <input type="text" name="price" value="<%= price %>">
        </div>
        <div class="field">
          <label>Duration</label>
          <input type="text" name="duration" value="<%= duration %>">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui green button" id="update-tariff-button">Update</div>
    </div>
  </div>
</script>

<script type="text/template" id="delete-tariff-modal-template">
  <div class="ui small modal" id="delete-tariff-modal">
    <i class="close icon"></i>
    <div class="header">Delete Tariff</div>
    <div class="content delete-content"></div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui red button" id="delete-tariff-button" data-pk=<%= pk %>>Delete</div>
    </div>
  </div>
</script>
{% endblock %}

{% block javascript %}
<script>
  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };

  // render table
  $('#report').DataTable({
    searching: false,
    bLengthChange: false,
    bInfo: false,
    {# serverSide: true, #}
    ajax: {
      url: "{% url 'api-tariff-read' %}",
      type: 'GET'
    },
    columns: [
      { data: 'origin', className: 'dt-left' },
      { data: 'destination', className: 'dt-left' },
      { data: 'service', className: 'dt-left' },
      { data: 'price', className: 'dt-left' },
      { data: 'action', className: 'dt-left' },
    ],
    columnDefs: [
      {
        targets: -1,
        render: function(data, type, row, meta) {
          return ''
            + '<div class="mini ui primary button" data-action="update" data-pk=' + row.action + ' data-origin="' + row.origin_pk + '" data-destination="' + row.destination_pk + '" data-service="' + row.service_pk + '" data-price="' + row.price + '" data-duration="' + row.duration + '">Update</div>'
            + '<div class="mini ui red button" data-action="delete" data-pk=' + row.action + ' data-origin="' + row.origin+ '" data-destination="' + row.destination + '" data-service="' + row.service + '">Delete</div>';
        }
      }
    ]
  });

  // add event to update button and delete button
  $('#report tbody').click('button', function(e) {
    var button = $(e.target);

    // UPDATE AGENT
    if (button.data('action') === 'update') {
      // set up modal template and pass tariff pk
      var templateFunc = _.template($('#update-tariff-modal-template').html());
      var modalTemplate = templateFunc({
        pk: button.data('pk'),
        origin_pk: button.data('origin'),
        destination_pk: button.data('destination'),
        service_pk: button.data('service'),
        price: button.data('price'),
        duration: button.data('duration'),
      });

      $('#modal-container').append(modalTemplate);

      // show modal and destroy when closing
      $('#update-tariff-modal')
        .modal({
          onHidden: function() { $('.ui.dimmer').empty(); }
        }).modal('show');

      $('#update-tariff-button').click(function(e) {
        var data = $('form').serializeObject();
        data.csrfmiddlewaretoken = Cookies.get('csrftoken');

        $.ajax({
          url: "{% url 'api-tariff-update' %}",
          method: 'POST',
          data: data,
        }).done(function(response) {
          window.location.reload();
        });
      });

      // set dropdown to rendered template
      $('.dropdown').dropdown();
    }

    // DELETE AGENT
    if (button.data('action') === 'delete') {
      // set up modal template and pass tariff pk
      var templateFunc = _.template($('#delete-tariff-modal-template').html());
      var modalTemplate = templateFunc({ pk: button.data('pk') });
      $('#modal-container').append(modalTemplate);

      // show modal and destroy when closing
      $('#delete-tariff-modal')
        .modal({
          onHidden: function() { $('.ui.dimmer').empty(); }
        }).modal('show');

      // write content to modal
      var content = "Are you sure to delete tariff for <b>" + button.data('service') + "</b> service from <b>" + button.data('origin') + "</b> to <b>" + button.data('destination') + "</b>?";
      $('.delete-content').append(content);

      $('#delete-tariff-button').click(function(e) {
        var data = {
          csrfmiddlewaretoken: Cookies.get('csrftoken'),
          pk: $(e.target).data('pk')
        }

        $.ajax({
          url: "{% url 'api-tariff-delete' %}",
          method: 'POST',
          data: data,
        }).done(function(response) {
          window.location.reload();
        });
      });
    }
  });

  // show create tariff modal
  $('#create-tariff-modal-btn').click(function() {
    var templateFunc = _.template($('#create-tariff-modal-template').html());
    var modalTemplate = templateFunc();

    $('#modal-container').append(modalTemplate);

    $('#create-tariff-modal')
      .modal({
        onHidden: function() { $('.ui.dimmer').empty(); }
      }).modal('show');

    // set dropdown to rendered template
    $('.dropdown').dropdown();

    // CREATE AGENT
    $('#create-tariff-button').click(function(e) {
      e.preventDefault();

      $('#create-tariff-form').addClass('loading');

      var data = $('form').serializeObject();
      data.csrfmiddlewaretoken = Cookies.get('csrftoken');

      $.ajax({
        url: "{% url 'api-tariff-create' %}",
        method: 'POST',
        data: data,
      }).done(function(response) {
        $('#create-tariff-form').removeClass('loading');
        window.location.reload();
      });
    });
  });
</script>
{% endblock %}
