{% extends 'agent/base.html' %}

{% block content %}
<div class="ui main text container" style="margin-top:6em;margin-bottom:6em">
  <h1 class="ui header" style="margin-bottom:1em">Beranda</h1>
  <!-- <h3 class="ui dividing header">Statistik</h3> -->
  <!-- <div class="ui cards"> -->
  <!--   <div class="card"> -->
  <!--     <div class="content"> -->
  <!--       <div class="header">Omzet</div> -->
  <!--       <div class="meta">September</div> -->
  <!--       <div class="ui tiny statistic"> -->
  <!--         <div class="value">5.000.000</div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <div class="card"> -->
  <!--     <div class="content"> -->
  <!--       <div class="header">Total Omzet</div> -->
  <!--       <div class="meta">Sejak Mei 2014</div> -->
  <!--       <div class="ui tiny statistic"> -->
  <!--         <div class="value">120.000.000</div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

  <h3 class="ui dividing header">Berita</h3>
  <div class="ui divided items">
    <div class="item">
      <div class="content">
        <a class="header">Family Gathering Agen Area 51 di Tangerang</a>
        <div class="meta">
          <span>2016-09-11 09:11</span>
        </div>
        <div class="description">
          <p>Untuk meningkatkan kerja sama yang sudah terjalin selama ini antara Area 51 dan agen-agen Area 51 di Tangerang, akan diadakan family gathering yang berlokasi di Summarecon Mall hari Sabtu tanggal 24 September 2016 dari jam 08:00 hingga selesai.<br><br>Sampai bertemu di acara family gathering!</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header">Maintenance</a>
        <div class="meta">
          <span>2016-09-09 13:11</span>
        </div>
        <div class="description">
          <p>Akan dilakukan maintenance pada hari Minggu tanggal 11 September dari jam 22:00 - 06:00.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
