{% extends 'agent/base.html' %}

{% block content %}
<div class="ui main text container" style="margin-top:6em;margin-bottom:6em">

  <form class="ui form" id="create-item-form">
    <h1 class="ui header">Consignment Note</h1>

    <h3 class="ui dividing header">Sender</h3>
    <div class="fields">
      <div class="six wide required field">
        <label>Full Name</label>
        <input type="text" id="sender_name" name="sender_name" placeholder="Indra Hermanto">
      </div>
      <div class="ten wide required field">
        <label>Address</label>
        <input type="text" id="sender_address" name="sender_address" placeholder="">
      </div>
    </div>
    <div class="fields">
      <div class="six wide field">
        <label>Phone</label>
        <input type="text" id="sender_phone" name="sender_phone" placeholder="0811901234, 0811-90-1234">
      </div>
      <div class="eight wide required field">
        <label>City</label>
        <select class="ui fluid dropdown" id="sender_city" name="sender_city">
          <option value="">Pilih salah satu kota</option>
          {% for city in cities %}
            <option value="{{ city.pk }}">{{ city.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="two wide field">
        <label>Zip Code</label>
        <input type="text" id="sender_zip_code" name="sender_zip_code" placeholder="40191">
      </div>
    </div>
  
    <h3 class="ui dividing header">Receiver</h3>
    <div class="fields">
      <div class="six wide required field">
        <label>Full Name</label>
        <input type="text" id="receiver_name" name="receiver_name" placeholder="Narlia Fidelia">
      </div>
      <div class="ten wide required field">
        <label>Address</label>
        <input type="text" id="receiver_address" name="receiver_address" placeholder="">
      </div>
    </div>
    <div class="fields">
      <div class="six wide field">
        <label>Phone</label>
        <input type="text" id="receiver_phone" name="receiver_phone" placeholder="0811901234, 0811-90-1234">
      </div>
      <div class="eight wide required field">
        <label>City</label>
        <select class="ui fluid dropdown" id="receiver_city" name="receiver_city">
          <option value="">Pilih salah satu kota</option>
          {% for city in cities %}
            <option value="{{ city.pk }}">{{ city.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="two wide field">
        <label>Zip Code</label>
        <input type="text" id="receiver_zip_code" name="receiver_zip_code" placeholder="40191">
      </div>
    </div>
  
    <h3 class="ui dividing header">Shipment</h3>
    <div class="three fields">
      <div class="required field">
        <label>Service</label>
        <select class="ui fluid dropdown" id="service" name="service">
          {% for service in services %}
          <option value="{{ service.pk }}">{{ service.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="required field">
        <label>Good Type</label>
        <select class="ui fluid dropdown" id="good_type" name="good_type">
          {% for good_type in good_types %}
          <option value="{{ good_type.pk }}">{{ good_type.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="required field">
        <label>Payment Type</label>
        <select class="ui fluid dropdown" id="payment_type" name="payment_type">
          {% for payment_type in payment_types %}
          <option value="{{ payment_type.pk }}">{{ payment_type.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <h3 class="ui dividing header">Item</h3>
    <div class="six fields">
      <div class="required field">
        <label>Weight (kg)</label>
        <input type="text" id="weight" name="weight" placeholder="">
      </div>
      <div class="field">
        <label>Length (cm)</label>
        <input type="text" id="length" name="length" placeholder="">
      </div>
      <div class="field">
        <label>Width (cm)</label>
        <input type="text" id="width" name="width" placeholder="">
      </div>
      <div class="field">
        <label>Height (cm)</label>
        <input type="text" id="height" name="height" placeholder="">
      </div>
      <div class="field">
        <label>Volumetric (kg)</label>
        <input type="text" id="volumetric" name="volumetric" placeholder="">
      </div>
      <div class="required field">
        <label>Price (IDR)</label>
        <input type="text" id="price" name="price" placeholder="">
      </div>
    </div>
  
    <h3 class="ui dividing header">Additional Information</h3>
    <div class="fields">
      <div class="eleven wide required field">
        <label>Goods Name</label>
        <input type="text" id="good_name" name="good_name" placeholder="">
      </div>
      <div class="five wide field">
        <label>Goods Value</label>
        <input type="text" id="good_value" name="good_value" placeholder="100000">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Instruction</label>
        <input type="text" id="instruction" name="instruction" placeholder="">
      </div>
      <div class="field">
        <label>Note</label>
        <input type="text" id="note" name="note" placeholder="">
      </div>
    </div>

    <div class="field">
      <label>AWB</label>
      <input type="text" id="awb" name="awb" placeholder="awb">
    </div>

    <div class="field">
      <label>Courier Name</label>
      <input type="text" id="courier_name" name="courier_name" placeholder="">
    </div>
    
    <div class="two fields">
      <div class="field">
        <label>Date</label>
        <input type="text" id="date" name="date" placeholder="DD-MM-YYYY">
      </div>
      <div class="field">
        <label>Hour Time</label>
        <input type="text" id="time" name="time" placeholder="HH:mm:ss">
      </div>
    </div>

    <div class="field">
      <label>Assurance</label>
      <input type="text" name="assurance" placeholder="">
    </div>

    <div class="field">
      <label>Customer Number</label>
      <input type="text" name="customer_number" placeholder="">
    </div>

    <div class="field">
        <button class="ui primary right floated" type"submit"><i class="send outline icon"></i> Add Item</button>
    </div>
  </form>

  <div class="field">
    <table id="item-table" class="ui celled table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Receiver Address</th>
                <th>Goods Name</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Length</th>
                <th>Width</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>

  <div> <br> </div>

  <div class="field">
      <div class="ui primary right floated button submit-btn" tabindex="0"><i class="send outline icon"></i> Submit</div>
      <div class="ui primary right floated button print-btn" tabindex="0"><i class="Print icon"></i> Print</div>
      <div class="ui primary right floated button shipment-marking-btn" tabindex="0"><i class="shop icon"></i> Shipment Marking</div>
  </div>

  <div id="awb-container"></div>
  <div id="modal-container"></div>
  <div id="message-container"></div>
</div>

<script type="text/template" id="error-msg-template">
    <span class="error-msg" style="color:#E0B4B4; font-size:12px; font-style:italic;">Field required</span>
</script>

<script type="text/template" id="delete-agent-modal-template">
  <div class="ui small modal" id="delete-agent-modal">
    <i class="close icon"></i>
    <div class="header">Delete Agent</div>
    <div class="content delete-content"></div>
    <div class="actions">
      <div class="ui positive deny button">OK</div>
    </div>
  </div>
</script>

<script type="text/template" id="awb-card-template">
  <h3 class="ui dividing header" style="margin-top:6em">AWB</h3>
  <div class="ui cards">
    <div class="card">
      <div class="content center aligned">
        <div class="ui mini statistic">
          <div class="value"><%= awb %></div>
          <div class="label">AWB</div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="message-error-template">
<div class="ui negative message" style="margin-top:6em">
  <i class="close icon"></i>
  <div class="header"><%= message %></div>
</div>
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var sender_name_list = [];
    var sender_address_list = [];
    var sender_city_list = [];
    var sender_zip_code_list = [];
    var sender_phone_list = [];
    var receiver_name_list = [];
    var receiver_address_list = [];
    var receiver_city_list = [];
    var receiver_zip_code_list = [];
    var receiver_phone_list = [];
    var service_list = [];
    var payment_type_list = [];
    var good_name_list = [];
    var good_value_list = [];
    var good_type_list = [];
    var weight_list = [];
    var length_list = [];
    var width_list = [];
    var height_list = [];
    var price_list = [];
    var information_list = [];
    var instruction_list = [];
    //var tariff_list = [];

    $(document).ready(function() {
        $('#item-table').DataTable({
            searching: false,
            bLengthChange: false,
            bInfo: false,
        });
    });
</script>

<script>
  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };

  $('.submit-btn').click(function() {
    $('.submit-btn').attr('disabled', true);;
    //var data = $('#create-item-form').serializeObject();
    //data.csrfmiddlewaretoken = Cookies.get('csrftoken');
    console.log('sender address', sender_address_list);
    console.log('sender city', sender_city_list);
    console.log('receiver name', receiver_name_list);    
    console.log('receiver address', receiver_address_list);
    console.log('receiver city', receiver_city_list);
    console.log('good_type', good_type_list);
    console.log('payment_type', payment_type_list);
    console.log('good_name', good_name_list);
    console.log('price', price_list);
    console.log('service', service_list);

    $.ajax({
      url: "{% url 'api-agent-item-create-multi' %}",
      method: 'POST',
      dataType: 'json',
      traditional: true,
      data: {
        sender_name: sender_name_list,
        sender_address: sender_address_list,
        sender_city: sender_city_list,
        sender_zip_code: sender_zip_code_list,
        sender_phone: sender_phone_list,

        receiver_name: receiver_name_list,
        receiver_address: receiver_address_list,
        receiver_city: receiver_city_list,
        receiver_zip_code: receiver_zip_code_list,
        receiver_phone: receiver_phone_list,

        service: service_list,
        payment_type: payment_type_list,
        good_name: good_name_list,
        good_value: good_value_list,
        good_type: good_type_list,
        weight: weight_list,
        length: length_list,
        width: width_list,
        height: height_list,
        price: price_list,
        information: information_list,
        instruction: instruction_list,
        //tariff: tariff_list
      },
    }).done(function(response) {
      //resetTable();
      sender_name_list = [];
      sender_address_list = [];
      sender_city_list = [];
      sender_zip_code_list = [];
      sender_phone_list = [];
      receiver_name_list = [];
      receiver_address_list = [];
      receiver_city_list = [];
      receiver_zip_code_list = [];
      receiver_phone_list = [];
      service_list = [];
      payment_type_list = [];
      good_name_list = [];
      good_value_list = [];
      good_type_list = [];
      weight_list = [];
      length_list = [];
      width_list = [];
      height_list = [];
      price_list = [];
      information_list = [];
      instruction_list = [];
    

      console.log(response);

      $('#message-container').empty();

      if (response.success === -1) {
        var messageTemplateFunc = _.template($('#message-error-template').html());
        var messageTemplate = messageTemplateFunc({ message: response.message });
        $('#message-container').append(messageTemplate);

        $('.message .close').on('click', function() {
          $(this).closest('.message').transition('fade');
        });

        // scroll to the bottom page to show error message
        window.scrollTo(0, document.body.scrollHeight);

        return;
      } else {
        window.open("/agent/fill/consigment/multiple/print/" + response.id + "/", "_blank");

      }
      {# $('#create-item-form').removeClass('loading'); #}
      // set up modal template and pass agent pk
      var templateFunc = _.template($('#delete-agent-modal-template').html());
      var modalTemplate = templateFunc();
      $('#modal-container').append(modalTemplate);

      // show modal and destroy when closing
      $('#delete-agent-modal')
        .modal({
          onHidden: function() { $('.ui.dimmer').empty(); }
        }).modal('show');

      // write content to modal
      var content = "Consignment Note is succesfully created. The awb is <b>" + response.awb + "</b>" ;
      $('.delete-content').append(content);

      for (i = 0; i < (response.awb).length; i++) {
        var awbTemplateFunc = _.template($('#awb-card-template').html());
        var awbCardTemplate = awbTemplateFunc({ awb: response.awb[i] });
        $('#awb-container').append(awbCardTemplate);
      }

      // scroll to the bottom page to show error message
      window.scrollTo(0, document.body.scrollHeight);
        
    });
  });

    // JUST FOR DEMO
    $('input[name=sender_name]').attr('value', 'Indra Hermanto');
    $('input[name=sender_address]').attr('value', 'Jalan Jenderal Sudirman No. 1');
    {# $('select[name=sender_city] option').filter(function() { #}
    {#   return $(this).text() === 'Jakarta'; #}
    {# }).prop('selected', true); #}
    $('input[name=receiver_name]').attr('value', 'Narlia Fidelia');
    $('input[name=receiver_address]').attr('value', 'Jalan Belimbing No. 8');
    $('input[name=weight]').attr('value', '1');
    $('input[name=price]').attr('value', '18000');
    $('input[name=good_name]').attr('value', 'Buku');
</script>

<script type="text/javascript">
  $('#create-item-form').submit(function() {
          
   // resetErrorView();
    
    marker = 1;
    var data = $('#create-item-form').serializeObject();
    if (data.sender_name === '') {
      error_msg['sender_name'] = true;
      setErrorView(error_msg);
      console.log('empty sender name');
      return false;
      }

    if (data.receiver_name === '') {
      error_msg['receiver_name'] = true;
      setErrorView(error_msg);
      console.log('empty receiver name');
      return false;
    }

    if (data.receiver_address === '') {
      error_msg['receiver_address'] = true;
      setErrorView(error_msg);
      console.log('empty receiver name');
      return false;
    }
    
    data.csrfmiddlewaretoken = Cookies.get('csrftoken');

    console.log('been submitted');
    
    var t = $('#item-table').DataTable();
    t.row.add( [
            $('#sender_name').val(),
            $('#receiver_name').val(),
            $('#receiver_address').val(),
            $('#good_name').val(),
            $('#weight').val(),
            $('#height').val(),
            $('#length').val(),
            $('#width').val(),
    ] ).draw( true );
    
    // adding to new Collection
    sender_name_list.push($('#sender_name').val());
    sender_address_list.push($('#sender_address').val());
    sender_city_list.push($('#sender_city').val());
    sender_zip_code_list.push($('#sender_zip_code').val());
    sender_phone_list.push($('#sender_phone').val());
    
    receiver_name_list.push($('#receiver_name').val());
    receiver_address_list.push($('#receiver_address').val());
    receiver_city_list.push($('#receiver_city').val());
    receiver_zip_code_list.push($('#receiver_zip_code').val());
    receiver_phone_list.push($('#receiver_phone').val());

    service_list.push($('#service').val()); 
    payment_type_list.push($('#payment_type').val());
    good_name_list.push($('#good_name').val());
    good_value_list.push($('#good_value').val());
    good_type_list.push($('#good_type').val());
    weight_list.push($('#weight').val());
    length_list.push($('#length').val());
    width_list.push($('#width').val());
    height_list.push($('#height').val());
    price_list.push($('#price').val());
    information_list.push($('#note').val());
    instruction_list.push($('#instruction').val());
    //tariff_list.push($('#tariff').val());
    //$('.awb-text').val('');
    //$('.awb-text').focus(); 

    console.log('create-item-form', data);

    return false;
  });
</script>

<script type="text/javascript">
    
    var err_template = $('#error-msg-template').html();

    function setErrorView(error) {
        if (error.all) {
            $('.sender_name').parent().addClass('error');
            $('.sender_name').parent().append(err_template);
            $('.receiver_name').parent().addClass('error');
            $('.receiver_name').parent().append(err_template);
            $('.receiver_address').parent().addClass('error');
            $('.receiver_address').parent().append(err_template);
        }
    }

    function resetErrorView() {
        $('.sender_name').parent().removeClass('error');
        $('.receiver_name').parent().removeClass('error');
        $('.receiver_address').parent().removeClass('error');
        $('.error-msg').remove();
    }

    function resetTable() {
        sender_name_list = [];
        sender_address_list = [];
        sender_city_list = [];
        sender_zip_code_list = [];
        sender_phone_list = [];
        receiver_name_list = [];
        receiver_address_list = [];
        receiver_city_list = [];
        receiver_zip_code_list = [];
        receiver_phone_list = [];
        service_list = [];
        payment_type_list = [];
        good_name_list = [];
        good_value_list = [];
        good_type_list = [];
        weight_list = [];
        length_list = [];
        width_list = [];
        height_list = [];
        price_list = [];
        information_list = [];
        instruction_list = [];
        
        $('#item-table').DataTable().clear();
        $('#item-table').hide();
        $('#item-table').DataTable().destroy();

        $('#item-table').DataTable({
            searching: false,
            bLengthChange: false,
            bInfo: false,
        });
        
        $('#item-table').show();

        $('#sender_name').val('');
        $('sender_address').val('');
        $('#sender_city').val('');
        $('#sender_zip_code').val('');
        $('#sender_phone').val('');
        $('#receiver_name').val('');
        $('#receiver_address').val('');
        $('#receiver_zip_code').val('');
        $('#receiver_phone').val('');
        $('#good_value').val('');
        $('#weight').val('');
        $('#length').val('');
        $('#width').val('');
        $('#height').val('');
        $('#price').val('');
        $('#information').val('');
        $('#instruction').val('');
    }

</script>

{% endblock %}
