{% extends 'agent/base.html' %}

{% block content %}
<div class="ui main text container" style="margin-top:6em;margin-bottom:6em">
  <h1 class="ui header" style="margin-bottom:1em">Profil Agen</h1>
  <h3 class="ui dividing header">Statistik</h3>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">Omzet</div>
        <div class="meta">September</div>
        <div class="ui tiny statistic">
          <div class="value">5.000.000</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Total Omzet</div>
        <div class="meta">Sejak Mei 2014</div>
        <div class="ui tiny statistic">
          <div class="value">120.000.000</div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ui dividing header">Informasi</h3>
  <table class="ui celled table">
    <tbody>
      <tr>
        <td>Perusahaan</td>
        <td>{{ request.user.site.name }}</td>
      </tr>
      <tr>
        <td>Alamat</td>
        <td>{{ request.user.site.address }}</td>
      </tr>
      <tr>
        <td>Kota</td>
        <td>{{ request.user.site.city.name }}</td>
      </tr>
      <tr>
        <td>Tipe</td>
        <td>{{ request.user.site.type.name }}</td>
      </tr>
      {# <tr> #}
      {#   <td>Beroperasi</td> #}
      {#   <td>Mei 2014</td> #}
      {# </tr> #}
    </tbody>
  </table>
{% endblock %}
