{% extends 'agent/base.html' %}

{% block content %}
<div class="ui main text container" style="margin-top:6em;margin-bottom:6em">
  <form class="ui form">
    <h1 class="ui header" style="margin-bottom:1em">Tarif</h1>

    <div class="two fields">
      <div class="field">
        <label>Asal</label>
        <select class="ui fluid dropdown" name="origin">
          <option value="">Pilih salah satu kota</option>
          {% for city in cities %}
            <option value="{{ city.pk }}">{{ city.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label>Tujuan</label>
        <select class="ui fluid dropdown" name="destination">
          <option value="">Pilih salah satu kota</option>
          {% for city in cities %}
            <option value="{{ city.pk }}">{{ city.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="four fields">
      <div class="field">
        <label>Berat (kg)</label>
        <input type="text" name="weight" value="1">
      </div>
      <div class="field">
        <label>Panjang (cm)</label>
        <input type="text" name="length">
      </div>
      <div class="field">
        <label>Lebar (cm)</label>
        <input type="text" name="width">
      </div>
      <div class="field">
        <label>Tinggi (cm)</label>
        <input type="text" name="height">
      </div>
    </div>

    <div class="field">
      <div class="ui primary right floated button" id="check-tariff-btn" tabindex="0">Check</div>
    </div>
  </form>

  <div id="tariff-container"></div>
</div>

<script type="text/template" id="tariff-list-template">
  <h3 class="ui dividing header" style="margin-top:6em">Tarif Detail</h3>
  <div class="ui cards">
    <div class="card">
      <div class="content center aligned">
        <div class="ui small statistic">
          <div class="value"><%= weight %></div>
          <div class="label">Kilogram</div>
        </div>
      </div>
    </div>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Service</th>
        <th>Price (IDR)</th>
        <th>ETA</th>
      </tr>
    </thead>
    <tbody id="tariff-list"></tbody>
  </table>
</script>

<script type="text/template" id="tariff-item-template">
      <tr>
        <td><%= origin %></td>
        <td><%= destination %></td>
        <td><%= service %></td>
        <td><%= price %></td>
        <td><%= duration %></td>
      </tr>
</script>

<script type="text/template" id="tariff-error-template">
<div class="ui negative message" style="margin-top:6em">
  <i class="close icon"></i>
  <div class="header"><%= message %></div>
</p></div>
</script>
{% endblock %}

{% block javascript %}
  <script>
    $('#check-tariff-btn').click(function() {
      var data = $('form').serializeObject();
      data.csrfmiddlewaretoken = Cookies.get('csrftoken');

      $.ajax({
        url: "{% url 'api-tariff-check' %}",
        method: 'GET',
        data: data,
      }).done(function(response) {
        {# $('#create-user-form').removeClass('loading'); #}

        $('#tariff-container').empty();

        if (response.success === -1) {
          var messageTemplateFunc = _.template($('#tariff-error-template').html());
          var messageTemplate = messageTemplateFunc({ message: response.message });
          $('#tariff-container').append(messageTemplate);

          $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
          });

          return;
        }

        var tableTemplateFunc = _.template($('#tariff-list-template').html());
        var tableTemplate = tableTemplateFunc({ weight: response.weight });
        $('#tariff-container').append(tableTemplate);

        var rowTemplateFunc = _.template($('#tariff-item-template').html());
        {# var rows = [ #}
        {#   { name: 'EXPRESS', type: 'Parcel', price: '18.000', duration: '1-2'}, #}
        {#   { name: 'EXPRESS15', type: 'Parcel', price: '20.000', duration: '1-2'}, #}
        {# ]; #}

        response.data.forEach(function(row) {
          $('#tariff-list').append(rowTemplateFunc(row))
        });
      });
    });
  </script>
{% endblock %}
